export(GeomFunnel)
export(StatFunnel)
export(geom_funnel)
export(qfunnel_prop)
export(qfunnel_prop_exact)
export(qfunnel_rate)
export(stat_funnel)
import(ggplot2)
import(plyr)
import(proto)
import(scales)
